# Ses İşleme
librosa==0.10.1
soundfile==0.12.1
numpy==1.24.3

# Makine Öğrenmesi
scikit-learn==1.3.2
scipy==1.11.4

# Veri İşleme
pandas==2.1.4

# Görselleştirme
matplotlib==3.8.2
seaborn==0.13.0

# Utilities
python-dotenv==1.0.0
